@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Poppins:ital,wght@0,700;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}
body{
    background-color: #fffbe9;
}
nav{
    position: fixed;
    top: 0;
    background-color: #AD8B73;
    left: 0;
    right: 0;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    justify-self: start;
    z-index: 99999;
}
nav h2{
    display: inline-block;
    color: #fffbe9;
    margin-left: 20px;
    font-size: 28px;
}
li{
    display: inline-block;
}

a{
    text-decoration: none;
    color: #fffbe9;
    margin: 10px;
    transition: 0.3s;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

li:hover a{
    background-color: #6b584c;
    border-radius: 99px;
}
/* li:nth-child(2) a{
    background-color: #6b584c;
    border-radius: 99px;
} */
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
article{
    width: 70%;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #CEAB93;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
}
article h2{
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
    transition: opacity 0.5s ease-in-out;
}
article p{
    text-align: justify;
    line-height: 1.5;
    transition: opacity 0.5s ease-in-out;
}
article img{
    width: 50%;
    height: 55%;
    margin-top: 20px;
    border: 2px solid  black;
    transition: 0.5px;
    transition: opacity 0.2s ease-in-out;
}

.image-container{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
}
.image-container img{
    margin-top: 15px;
    width: 15%;
    transition: 0.3s;
}
.image-container img:first-child{
    justify-content: flex-start;
    width: 15%;
}
.image-container img:hover{
    transform: scale(1.2);
}